@model WebApp.Models.TodoModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>TodoModel</h4>
            <hr/>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="text-info"></div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            <a href="#">
                @Html.DisplayFor(model => model.Name)
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd>
            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.UserId">
                @Html.DisplayFor(model => model.User.Name)
            </a>
        </dd>
    </dl>
</div>