@model WebApp.Entities.Post


<div class="container">
    <div class="row">
        @if (Model != null)
        {
            <div class="col-md-4">
                <div class="text-primary">
                    @Html.DisplayNameFor(model => model.Id): @Html.DisplayFor(model => model.Id)
                </div>

                <div class="text-primary">
                    @Html.DisplayNameFor(model => model.Title):
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id">
                        @Html.DisplayFor(model => model.Title)
                    </a>
                </div>
                <div class="text-primary">
                    @Html.DisplayNameFor(model => model.Likes): @Html.DisplayFor(model => model.Likes)
                </div>
                <div class="text-primary">
                    @Html.DisplayNameFor(model => model.CreatedAt): @Html.DisplayFor(model => model.CreatedAt)
                </div>
                <div class="text-primary">
                    @Html.DisplayNameFor(model => model.Body): @Html.DisplayFor(model => model.Body)
                </div>
                <div class="text-primary">
                    @Html.DisplayNameFor(model => model.User.Name):
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.UserId">
                        @Html.DisplayFor(modelItem => Model.User.Name)
                    </a>
                </div>
            </div>
        }
        else
        {
            <h3>Post not found</h3>  
        }
    </div>
</div>