@model WebApp.Entities.User

<div>
    <h4>User</h4>
    <hr />
    @if (Model != null)
    {
        <img src="@Model.Avatar" class="img-rounded" alt="User photo (Avatar)" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                <a href="#">
                    @Html.DisplayFor(model => model.Name)
                </a>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
        </dl>
    }
    else
    {
        <p>User with such Id not Found!</p>
    }
</div>