@model WebApp.Dtos.UserPostComments

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<div>
    @using (Html.BeginForm("Index", "Posts", FormMethod.Get))
    {
        @Html.TextBox("userId")
        <input type="submit" value="User Id" />
    }
</div>*@
<form asp-controller="Posts" asp-action="Index", method="get">
    <p>
        @Html.TextBox("userId")
        @*Title: <input type="number" name="userId">*@
        <input type="submit" value="User Id" />
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostWithComments[0].post.Id) @*PostId*@
            </th>
            <th>

                @Html.DisplayNameFor(model => model.PostWithComments[0].post.Title) @*UserId*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostWithComments[0].post.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostWithComments[0].post.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostWithComments[0].post.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostWithComments[0].post.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PostWithComments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.post.Id)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.post.Id">@Html.DisplayFor(modelItem => item.post.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.post.Likes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.post.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.post.Body)
                </td>
                <td>
                   @*@Html.ActionLink(@item.comAnount.ToString(), new { @class = "btn btn-primary", datatoggle = "collapse", href = "#collapseExample", role = "button" })*@
                    <a class="btn btn-primary" data-toggle="collapse" href='@string.Format("#collapseComm{0}", item.post.Id)' role="button" aria-expanded="false" aria-controls="collapseExample">
                        @Html.DisplayFor(modelItem => item.comAnount)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(model => model.UserId)
                </td>
            </tr>
            <tr class="collapse" id='@string.Format("collapseComm{0}", item.post.Id)'>
                <td colspan="5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => item.post.Comments[0].Id) 
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => item.post.Comments[0].PostId)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => item.post.Comments[0].UserId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => item.post.Comments[0].CreatedAt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => item.post.Comments[0].Likes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => item.post.Comments[0].Body)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var com in item.post.Comments)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => com.Id)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => com.PostId)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => com.UserId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => com.CreatedAt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => com.Likes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => com.Body)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
