@model WebApp.Dtos.Query6Model

@{
    ViewData["Title"] = "Query6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Query #4</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form asp-controller="Queries" asp-action="Query6" , method="get">
                <p>
                    @Html.TextBox("stringId", null, htmlAttributes: new { placeholder = "Post Id" })
                    <input type="submit" value="Search" class="btn btn-default" />
                </p>
            </form>
        </div>
    </div>
    @if (Model != null)
    {
        <div class="row">
            <h4>Post Id: @Model.Post.Id </h4>
        </div>
        <div class="row" style="border: black solid thin">
            <div>
                <h2>Post</h2>

                @Html.Partial("Partials/PostPartial", Model.Post)
            </div>
        </div>
        <div class="row" style="border: black solid thin">
            <div>
                <h4>
                    Number of comments under the post where or 0 likes or text length < 80: @Html.DisplayFor(model => model.CommentsAmount)
                </h4>
            </div>
        </div>
        if (Model.LongestComment != null)
        {
            <div class="row" style="border: grey solid thin">
                <div>
                    <h4>The Longest Post's Comment</h4>
                    @Html.Partial("Partials/CommentPartial", Model.LongestComment)
                </div>
            </div>
            <div class="row" style="border: black solid thin">
                <div>
                    <h4>The Most popular Post's Comment</h4>
                    @Html.Partial("Partials/CommentPartial", Model.MostPopularComment)
                </div>
            </div>
        }
        else
        {
            <h5>Post doesn't have any posts</h5>
        }
    }
    else
    {
        <p>Post with such Id not Found!</p>
    }
</div>