
@model List<WebApp.Entities.User>
@{
    ViewData["Title"] = "Query4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Query #4</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Avatar) @*UserId*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TodoModels)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <img src="@user.Avatar" alt="User Avatar" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Id)
                </td>
                <td>
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">@Html.DisplayFor(modelItem => user.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.CreatedAt)
                </td>
                <td>
                    <a class="btn btn-primary" data-toggle="collapse" href='@string.Format("#collapseTodos{0}", user.Id)' role="button" aria-expanded="false" aria-controls="collapseExample">
                        @Html.DisplayFor(modelItem => user.TodoModels.Count)
                    </a>
                </td>
            </tr>
            <tr class="collapse" id='@string.Format("collapseTodos{0}", user.Id)'>
                <td colspan="5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => user.TodoModels[0].Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => user.TodoModels[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => user.TodoModels[0].CreatedAt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => user.TodoModels[0].IsComplete)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var t in user.TodoModels)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => t.Id)
                                    </td>
                                    <td>
                                        <a asp-controller="Todos" asp-action="Details" asp-route-id="@t.Id">@Html.DisplayFor(modelItem => t.Name)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.CreatedAt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => t.IsComplete)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
