@model WebApp.Dtos.Query5Model

@{
    ViewData["Title"] = "Query5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Query #5</h2>

<form asp-controller="Queries" asp-action="Query5" , method="get">
    <p>
        @Html.TextBox("stringId")
        <input type="submit" value="User Id" />
    </p>
</form>

<h6>@Html.DisplayNameFor(model => model.User.Id)</h6>
<h6>@Html.DisplayFor(model => model.User.Id)</h6>

<div>
    <h4>User</h4>
    <hr />
    @if (Model != null)
    {
        <img src="@Model.User.Avatar" alt="User photo (Avatar)" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.CreatedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.CreatedAt)
            </dd>
            <dt>
                <a class="btn btn-primary"
                   data-toggle="collapse"
                   href='@string.Format("#collapseTodos{0}", @Model.User.Id)'
                   role="button"
                   aria-expanded="false"
                   aria-controls="collapseExample">

                    @Html.DisplayFor(modelItem => @Model.User.TodoModels.Count)
                </a>
            </dt>
            <dd>
                <div class="collapse" id='@string.Format("collapseTodos{0}", @Model.User.Id)'>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => @Model.User.TodoModels[0].Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => @Model.User.TodoModels[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => @Model.User.TodoModels[0].CreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => @Model.User.TodoModels[0].IsComplete)
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var t in @Model.User.TodoModels)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => t.Id)
                                </td>
                                <td>
                                    <a asp-controller="Todos" asp-action="Details" asp-route-id="@t.Id">@Html.DisplayFor(modelItem => t.Name)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => t.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => t.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => t.IsComplete)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </dd>
        </dl>
    }
    else
    {
        <p>User with such Id not Found!</p>
    }
</div>
<div>
    <a asp-controller="Queries" asp-action="Query4">Go to User List</a>
</div>