@model WebApp.Dtos.Query6Model

@{
    ViewData["Title"] = "Query6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Query #6</h2>
        <div>
            <form asp-controller="Queries" asp-action="Query6" , method="get">
                <p>
                    @Html.TextBox("stringId")
                    <input type="submit" value="Post Id" />
                </p>
            </form>
        </div>
    </div>
    @if (Model != null)
    {
        <div class="row">
            <h3>Post Id: @Model.Post.Id </h3>
        </div>
        <div class="row" style="border: black solid thin">
            <div>
                <h2>Post</h2>

                @Html.Partial("Partials/PostPartial", Model.Post)
            </div>
        </div>
        <div class="row" style="border: black solid thin">
            <div>
                <h3>
                    Количество комментов под постом где или 0 лайков или длина текста < 80: @Html.DisplayFor(model => model.CommentsAmount)
                </h3>
            </div>
        </div>
        if (Model.LongestComment != null)
        {
            <div class="row" style="border: grey solid thin">
                <div>
                    <h4>The Longest Post's Comment</h4>
                    @Html.Partial("Partials/CommentPartial", Model.LongestComment)
                </div>
            </div>
            <div class="row" style="border: black solid thin">
                <div>
                    <h4>The Most popular Post's Comment</h4>
                    @Html.Partial("Partials/CommentPartial", Model.MostPopularComment)
                </div>
            </div>
        }
        else
        {
            <h5>Post doesn't have any posts</h5>
        }
    }
    else
    {
        <p>Post with such Id not Found!</p>
    }
</div>