@model WebApp.Dtos.Query5Model

@{
    ViewData["Title"] = "Query5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Query #4</h2>
        </div>
    </div>
    <div class="row">
        <div>
            <form asp-controller="Queries" asp-action="Query5" , method="get">
                @Html.TextBox("stringId", null, htmlAttributes: new { placeholder = "User Id" })
                <input type="submit" value="Search" class="btn btn-default" />
            </form>
        </div>
    </div>

    @if (Model != null)
    {
        <div class="row">
            <h3>User Id: @Model.User.Id </h3>
        </div>

        <div class="row page-item">
            <div>
                <h3>User</h3>

                @Html.Partial("Partials/UserPartial", Model.User)
            </div>
        </div>

        <div class="row page-item">
            <div>
                <h3>
                    @Html.DisplayNameFor(m => Model.UncompletedTasksAmount): @Html.DisplayFor(m => Model.UncompletedTasksAmount)
                </h3>
            </div>
        </div>

        <div class="row page-item">
            <div>
                <h3>
                    @Html.DisplayNameFor(m => Model.LastPostCommentsAmount): @Html.DisplayFor(m => Model.LastPostCommentsAmount)
                </h3>
            </div>
        </div>

        <div class="row page-item">
            <div>
                <h4> @Html.DisplayNameFor(m => Model.LastPost)</h4>
                @Html.Partial("Partials/PostPartial", Model.LastPost)
            </div>
        </div>

        <div class="row page-item">
            <div>
                <h4> @Html.DisplayNameFor(m => Model.MostPopularPost)</h4>
                @Html.Partial("Partials/PostPartial", Model.MostPopularPost)
            </div>
        </div>

        <div class="row page-item">
            <div>
                <h4> @Html.DisplayNameFor(m => Model.MostPopularPostLikes)</h4>
                @Html.Partial("Partials/PostPartial", Model.MostPopularPostLikes)
            </div>
        </div>
    }
    else
    {
        <p>Post with such Id not Found!</p>
    }
</div>